<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input
      type="email"
      placeholder="E-mail"
      class="form-control"
      formControlName="email"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] && novoUsuarioForm.get('email')?.touched "
      mensagem="E-mail Obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] && novoUsuarioForm.get('email')?.touched "
      mensagem="E-mail no formato incorreto"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="Nome Completo"
      class="form-control"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('fullName')?.errors?.['required'] && novoUsuarioForm.get('fullName')?.touched "
      mensagem="Nome Obrigatório"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="text"
      placeholder="Usúario"
      class="form-control"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] && novoUsuarioForm.get('userName')?.touched"
      mensagem="UserName somente com letras minusculas"
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente'] && novoUsuarioForm.get('userName')?.touched"
      mensagem="Usuario Ja Existe"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
  </div>
  <button class="btn btn-primary btn-block">Cadastrar</button>
</form>

<p>Já possui Conta? <a [routerLink]="['']">Faça Login</a></p>
